In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# loading the sales data into my python environment

In [3]:
pd.read_csv(r"D:\Train.csv")

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

#saving the data with variable "data"

In [35]:
data = pd.read_csv(r"D:\Train.csv")

# checking for empty or null values in the salesdata

In [36]:
data.isnull().values.any()

True

In [37]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# filling the columns with empty values ucing the fillna function

# since item weight contains numerical data, we can use the mean of the values in item_weight to fill in the empty columns we have in the column

In [38]:
data['Item_Weight'].fillna(data["Item_Weight"].mean(),inplace=True)

In [39]:
data['Item_Weight'].isnull().sum()

0

# since outlet size contains categorical data, we can use the mode to fill in the empty columns we have in the column

In [40]:
data['Outlet_Size'].fillna(data["Outlet_Size"].mode()[0],inplace=True)

In [41]:
data['Outlet_Size'].isnull().sum()

0

# checking if there is any null values left

In [42]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

# saving the code with 'df'

In [70]:
df.groupby(("Outlet_Type")).sum()

ValueError: Grouper for 'Outlet_Type' not 1-dimensional

In [59]:
df = data.isnull().sum()
print(df.to_string)

<bound method Series.to_string of Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64>

# Question 1:Does the outlet type(grocery store or supermarket) have any impact on the overall sales?

In [68]:
df_type =df.groupby("Outlet_Type")[["Item_Outlet_Sales"]].sum()
pd.set_option('display.float_format', lambda x:'&.3f' % x)
df_type.sort_values(by=["Item_Outlet_Sales"], ascending=[False]).reset_index()

ValueError: Grouper for 'Outlet_Type' not 1-dimensional